@import url('styleAbout.css');

.main {
    margin: 0% 8%;
}

.samples {
   display: flex;
}

.main__text {
    margin: 6% 0%;
}

.container{
    display: flex;
    flex-direction: column;
    width: 12rem;
    height: 20rem;
    border: 0.125rem solid var(--background-color);
    border-radius: 1.25rem;
    margin: 0% auto;
    transition: height 0.1s;
    padding: 0% 5%;
}

.container:hover{
    height: 25rem;
}    /* Mostra a borda ao passar o mouse */
   
.container_title {
    text-align: center;
    padding: 10%;
    color: var(--font-color);
    font-size: 2rem;
    font-style: italic;
}

.photo {
    width: 11rem;
    display: flex; /* Garante que a imagem seja tratada como um bloco */
    padding-bottom: 10%;
    text-align: center;
    margin: 0 auto;
}

.box {
    display: inline-block;
    text-align: center;
    visibility: hidden;
}

.details {
    font-size: 1.1rem;
    font-weight: 1000;
    text-decoration: none;
    color: var(--font-color);
    line-height: 5rem;
    border: 0.2rem solid var(--background-color);
    background-color: var(--background-color);
    border-radius: 0.625rem;
    box-shadow: 0rem 0.1875rem 0rem rgba(0, 0, 0, 0.5);
    padding: 1%;
    transition: visibility 0.01s
}

.container:hover .box{
    visibility: visible;
}